{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <h1>Movie Recommendations</h1>
    <div class="row">
        {% for movie in recommendations %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text" style="color: var(--secondary-color);">{{ movie.overview | truncate(100) }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('main.index') }}" class="btn btn-primary mt-3">Back to Search</a>
</div>
{% endblock %}
